*/bin
*/obj
*/.ionide
.ionide
*/.paket
*/paket-files
.ionide/*
*/.vscode
*/kaggle.json
Notebooks/.ipynb_checkpoints
.vs
Notebooks/TakensTheorem.Core.dll
Notebooks/test.png
TakensTheorem.Test/TestResults